@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* shared style */
#nav-color{
  color: rgb(255, 84, 0);
}
h3{
  font-size: 36px;
font-weight: 200;
line-height: 45px;
letter-spacing: 0%;
text-align: left;
}
#btn{
  background: rgb(255, 84, 0);
}




/* shared style  */

body{
  width: 90%;
  margin: 5rem auto;
}

/* navbar :start */
nav{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
nav .head{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 280px;
}
nav .head img{
  width: 48px;
height: 56.01px;
}

.nav-item ul{
display: flex;

align-items: center;
padding: 10px 0px 10px 0px;
}
.nav-item ul li{
  list-style: none;
  margin-right: 44px;
  font-size: 18px;
font-weight: 200;
line-height: 23px;
letter-spacing: 0%;
text-align: center
}
.nav-item ul li a{
  text-decoration: none;
}
#zero{
  margin-right: 0;
}

/* navbar :end  */
/* banner start  */
.banner-container{
  width: 1728px;
  height: 500px;
  background-color: rgba(0,0,0,0.3);
  background-image: url('images/Group\ 13\ \(1\)\ \(1\).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  border-radius: 16px;
  border: 1px solid white;
  background-blend-mode: overlay;
}
.content-container{
width: 1543px;
height: 288px;
margin: 106px auto;
text-align: center;

}
.content-container .ban-content1 h1{
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 400;
}
.content-container .ban-content1 p{
  color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 200;
line-height: 26px;
letter-spacing: 0%;
margin-top: 24px;
margin-bottom: 48px;
}
.banner-content2{
  width: 800px;
height: 84px;
padding: 16px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.3);
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 350px;
}

.content-container .same{
  width: 174px;
height: 52px;
border-radius: 8px;
background: rgb(255, 255, 255);
border: none;
}
.banner-content2 .extra-colour{
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.banner-content2 #btn{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

/* banner end */

/* popular part start  */
.popular{
  height: 550px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  
  

}
.pouplar-content{
width: 850px;

}
.popular-content h2{
  color: rgb(19, 19, 24);
font-size: 40px;
font-weight: 200;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
margin-left: 10px;
}
.popular-content p{
  color: rgb(90, 90, 93);
font-size: 16px;
font-weight: 200;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.popular-content ul{
  margin-left: 20px;
}
.popular-content ul li{
  color: rgba(19, 19, 24, 0.7);
font-size: 16px;
font-weight: 200;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

}
.popular .popular-img{
  width: 850px;
  background-image: url('images/Rectangle\ 4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* popular part end */


/* meadia query */

/* meadia query */